*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size:62.5% ;
}
body{
    background-color: #f1f1f1;
}
:root {
    --main-color: #efa51e;
    --black: #1c1c1c;
    --white: #f5f5f5;
  
}
a {
    text-decoration: none;
    list-style: none;
    color: var(--white);
}
p,
a,
h3,
input,
li {
  font-family: 'Montserrat', sans-serif;
}

h3 {
  font-weight: 600;
}

h1,
h2 {
  font-family: 'Antonio', sans-serif;
}
h1{
    font-size: 4rem;
    text-align: center;
}
.products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(35rem, 23%));
    place-content: center;
    column-gap: 2rem;
    padding: 2rem;
}
.cardContainer{
    width: 100%;
    border-radius: .6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    background-color: var(--black);
    padding: 2rem;
    margin: 1rem 0;
    box-shadow: 7px 5px 14px -6px #000000;
}
.cardInformation{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    color:var(--white);

}
.cardImg{
    width: 100%;
    border-radius: .6rem;
}
.cardTitle{
    color: var(--white);
    font-size: 3rem;
}
.cardDescription{
    font-size: 1.8rem;
    font-style: italic;
    color: #ffffffb8
}
.cardPrice{
    font-size: 2rem;
}
.cardButton, .linkButton{
    width: 100%;
    text-align: center;
    font-size: 2rem;
    background-color: transparent;
    color:var(--white);
    border:2px solid var(--white);
    cursor: pointer;
    transition: all 0.4s;
    border-radius: .6rem;
    padding: 1rem;
    font-family: 'Antonio', sans-serif; 

}
.buttonContainer{
    display: flex;
    justify-content: center;
}
.linkButton{
    background-color:var(--black) ;
    color: var(--white);
    margin: 0 auto;
    padding: 2rem;

}
.cardButton:hover{
    color : var(--main-color);
    border: 2px solid  var(--main-color);
}
.linkButton:hover{
    color: var(--main-color);
}
#formProduct{
    background-color: red;
}