<div id="realTimeContainer">
    <form class="formContainer" id="formProduct">
        <h2 class="formTitle">Add product:</h2>
        <input type="text" placeholder="Title" name="title" class="formInput" id="title" required />
        <input type="text" placeholder="Descripcion" name="description" class="formInput" id="description" required maxlength="80" />
        <input type="text" placeholder="Url image" name="img" class="formInput" id="img" required />
        <input type="number" placeholder="Price" name="price" class="formInput" id="price" required />
        <button class="buttonForm" type="submit">Submit</button>
    </form>
    <div class="productsContainer">
        <div class="products" id="realtimeproducts">        
        </div>
    </div>
     <div class="buttonContainer">
        <a href="http://localhost:4200"><button class="linkButton">Back to Home</button></a>
    </div>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>