<div id="realTimeContainer">
    <form class="formContainer" id="formProduct">
        <h2 class="formTitle">Agregar Producto</h2>
        <input type="text" placeholder="Título" name="title" class="formInput" id="title" required />
        <input type="text" placeholder="Descripción" name="description" class="formInput" id="description" required
            maxlength="80" />
        <input type="text" placeholder="Código" name="code" class="formInput" id="code" required maxlength="8" />
        <input type="text" placeholder="Categoria" name="Category" class="formInput" id="category" required
            maxlength="20" />
        <input type="text" placeholder="Url imagem" name="img" class="formInput" id="img" required />
        <input type="number" placeholder="Precio" name="price" class="formInput" id="price" required />
        <input type="number" placeholder="Stock" name="stock" class="formInput" id="stock" required />
        <button class="buttonForm" type="submit">Agregar</button>
    </form>
</div>
<script src="/js/createDeleteProducts.js"></script>