<div id="loginRegister">
    <form class="formContainer" id="formRegister">
        <h2 class="formTitle">Registrate</h2>
        <input type="text" placeholder="Usario" name="userName" class="formInput" id="userName" required />
        <input type="text" placeholder="Email" name="userEmail" class="formInput" id="userEmail" required />
        <input type="text" placeholder="Contraseña" name="userPassword" class="formInput" id="userPassword" required maxlength="15" />
        <button class="buttonForm" type="submit">Registrarte</button>
        <p>Ya tienes una cuenta? <a class="linkForm" href="/api/user/login">Ingresá</a></p>
    </form>
</div>
 <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/register.js"></script>