<div id="loginContainer">
    <form class="formContainer" id="formLogin">
        <h2 class="formTitle">Ingresá</h2>
        <input type="text" placeholder="Usario" name="userName" class="formInput" id="userName" required />
        <input type="text" placeholder="Contraseña" name="userPassword" class="formInput" id="userPassword" required
            maxlength="15" />
        <button class="buttonForm" type="submit">Ingresar</button>
        <p>No tienes una cuenta? <a class="linkForm" href="/api/user/register">Registrate</a></p>
    </form>
</div>
<script src="/js/login.js"></script>